#body {
    background-color: #00ff00;
}

#box {
    margin: 40px auto;
    width: max-content;
    height: max-content;
}

#videoElement {
    width: max-content;
    height: max-content;
    background-color: #666;
}